
[DIMENSIONS AND SIZES]

#input features
in_features = 13
#embedding dimension
d_model = 32
#default query-key matrix dimension
d_qk = 12
#default value matrix dimension
d_v = 12
#default feed-forward inner dimension
d_ff = 64
#default head number
n_heads = 4
#number of encoders
n_encoders = 6
#number of decoders
n_decoders = 6

[TRAINING PARAMETERS]

epochs = 1000
learning_rate = 0.001
dropout = 0.1

[MODE]

masked_attention_matrix = True